body {
    background-image: url("background-image/lGOs5Th.jpg");
    /* background-position: center;  */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    /* margin: 0 auto; */
    text-align: center;
    color: #464660;
}

.countdown-container {
    /* background-color: red; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.day, .hour, .minute, .second {
    color: #BD4B4B;
    /* background-color: blue; */
    font-size: 100px;
    /* width: 15%; */
    display: inline-block;
    margin: 0 auto;
    margin: 1rem 2rem;
    font-weight: 600;
}

.text {
    font-size: 40px;
    color: #BD4B4B;
}

footer {
    bottom: 10%;
    position: fixed;
    text-align: center;
    width: 100%;
}

.author-ref {
    margin: 0 auto;
    width: 20%;
    background-color: #FFE8E8;
    border-radius: 25px;
}

.back {
    margin-top: 10px;
    border-radius: 25px;
    font-size: 30px;
}